# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# Large raw datasets
data/raw/*.csv
data/raw/*.zip

# Large processed datasets
data/processed/*.csv

# Power BI temporary files
*.tmp
*.log
~$*

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Python cache
.pytest_cache/